body{
    margin: 0;
    padding: 0;
   
}
html,body{
    position: relative;
    min-width: 360px !important;
}
.navbar{
    position: fixed; 
    /* cause to apper on top of page  */
    /* display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: row;
    flex-wrap: wrap; */
    background-color: white;
    width: 100%;
    height: 78px;
    z-index: 1;
    min-width: 360px;
}
/* .nav{
    display: flex;
    justify-content: right;
    list-style: none;/* remove bolet  */
    /* margin-right: 15%; */
    /* to make collapase has box of color around */
   #box{
    background-color: white;
   } 

.logo{
    flex : 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    /* make letter uppercase  */
    letter-spacing: 1px;
    /* font-weight: bold; text to be thick */

    
}
a{
   margin: 15px; 
   color:#000;
   text-decoration: none;
   text-transform: uppercase;
}
/* problem for flex small size stack  */
a:hover{
    color: #000;
}
.banner-area{
    position: relative;
    background-image: url('../images/optimize/Faramarz-Rashidi-background-piano.jpg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* Center the image */

}
.about-area,.contact-area{
    background-color: #f0f0f0;
}
.about-area, .contact-area, .gallery-area{
  position: relative;  
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: auto; /* to include all legnth of content*/
}
.text-part{
    /* width: 65%; */
    width: 76%;
    height: 80%;
}
h1{
    font-size: 50px;
    font-family: Audiowide;
}
p{
    font-size: 20px;
    line-height: 50px ;
}
 .gallery-area{
    /* background-color: #262626; */
    /* color: #fff; */
}
#contact p{
    color: white;
}
html{
    scroll-behavior: smooth;
}

/* bring from first css style fz site  */




  .bg_brown{
    background-color: #4F3328;
    
  }
  .tx_white{
      color: white !important;
  }
  .bg_white{
    background-color: white !important;
  }
  
  .header{
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;
    color : #cf7f62;
    padding-top: 130px;
    padding-left: 50px;
  }
  .colorhead{
    color: #cf7f62;
  }


  .space2{
    letter-spacing: 0.03em;
  }
  .header3{
    font-size: 25px;
    padding-left : 30px;
    color: #2f413e;
  }
 
  .colormid{
    color: #2C2018;
  
  }

  .infoFont{
     /* font-family:'Mrs Saint Delafield', cursive; */
     font-family: 'Kaushan Script', cursive;
     letter-spacing: 0.03em;
    font-size: 39px;
    font-weight: bold;
  
  }
  .infoFontinside{
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
  
  }
  /* topDiv*/
  
  /* grid photo*/
  /* Create two equal columns that floats next to each other */




  /* .column {
    float: left;
    width: 45%;
    padding: 10px;
  } */
  
  .column img {
    margin-top: 12px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #bioInside{
    /* background-color: black; */
    
   
  }

  
  /* video music header format*/
  .header1Letter{
    font-size: 76px;
  }

  /* .center {
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    /* float: left;
    width: 50%; */
    /*
    this line caude the problem making
    #bio{
      width: 284px;
     
     
    } */
    /* bio section  */
    .title-ltCap{

      /* color: white; */
      font-family: 'Kaushan Script', cursive;
      font-size: 2.5em;
    }
    .first-ltCap{

      /* color: white; */
      font-family: 'Kaushan Script', cursive;
      font-size: 2em;
      letter-spacing: 0.3em;
    }

    /* contact section  */
    .bg-black{
      background-color: rgb(10, 10, 10);
    }
    .header4{
      display: none;
    }
    .header5{
      display:none;
      color: white;
        padding-left: 50px;
        
    }
    
    .title-ltCap-contact{

      color: white;
      font-family: 'Kaushan Script', cursive;
      font-size: 1.5em;
    }
    .home-down{
        margin-left:50px;
        margin-right: 25px;
    }
/* gallery section  */
    #gallery img{
      padding: 15px;
    }


    #slider {
      margin: 0 auto;
      width: 800px;
      max-width: 100%;
      text-align: center;
   }
   #slider input[type=radio] {
      display: none;
   }
   #slider label {
      cursor:pointer;
      text-decoration: none;
   }
   #slides {
      padding: 10px;
      border: 3px solid #ccc;
      background: #fff;
      position: relative;
      z-index: 1;
   }
   #overflow {
      width: 100%;
      overflow: hidden;
   }
   #slide1:checked ~ #slides .inner {
      margin-left: 0;
   }
   #slide2:checked ~ #slides .inner {
      margin-left: -100%;
   }
   #slide3:checked ~ #slides .inner {
      margin-left: -200%;
   }
   #slide4:checked ~ #slides .inner {
      margin-left: -300%;
   }
   #slides .inner {
      transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
      width: 400%;
      line-height: 0;
      height: 300px;
   }
   #slides .slide {
      width: 25%;
      float:left;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      color: #fff;
   }
   #slides .slide_1 {
      /* background: #00171F; */
   }
   #slides .slide_2 {
      /* background: #BDAA92; */
   }
   #slides .slide_3 {
      /* background: #ffffff; */
   }
   #slides .slide_4 {
      /* background: #ebe8dd; */
   }
   #controls {
      margin: -180px 0 0 0;
      width: 100%;
      height: 50px;
      z-index: 3;
      position: relative;
   }
   #controls label {
      transition: opacity 0.2s ease-out;
      display: none;
      width: 50px;
      height: 50px;
      opacity: .4;
   }
   #controls label:hover {
      opacity: 1;
   }
   #slide1:checked ~ #controls label:nth-child(2),
   #slide2:checked ~ #controls label:nth-child(3),
   #slide3:checked ~ #controls label:nth-child(4),
   #slide4:checked ~ #controls label:nth-child(1) {
      background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
      float:right;
      margin: 0 -50px 0 0;
      display: block;
   }
   #slide1:checked ~ #controls label:nth-last-child(2),
   #slide2:checked ~ #controls label:nth-last-child(3),
   #slide3:checked ~ #controls label:nth-last-child(4),
   #slide4:checked ~ #controls label:nth-last-child(1) {
      background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
      float:left;
      margin: 0 0 0 -50px;
      display: block;
   }
   #bullets {
      margin: 150px 0 0;
      text-align: center;
   }
   #bullets label {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius:100%;
      background: #ccc;
      margin: 0 10px;
   }
   #slide1:checked ~ #bullets label:nth-child(1),
   #slide2:checked ~ #bullets label:nth-child(2),
   #slide3:checked ~ #bullets label:nth-child(3),
   #slide4:checked ~ #bullets label:nth-child(4) {
      background: #444;
   }
   @media screen and (max-width: 900px) {
      #slide1:checked ~ #controls label:nth-child(2),
      #slide2:checked ~ #controls label:nth-child(3),
      #slide3:checked ~ #controls label:nth-child(4),
      #slide4:checked ~ #controls label:nth-child(1),
      #slide1:checked ~ #controls label:nth-last-child(2),
      #slide2:checked ~ #controls label:nth-last-child(3),
      #slide3:checked ~ #controls label:nth-last-child(4),
      #slide4:checked ~ #controls label:nth-last-child(1) {
         margin: 0;
      }
      #slides {
         max-width: calc(100% - 140px);
         margin: 0 auto;
      }

    /* footer section  */
    footer{
      text-align: center;
      background-color: black;
    }
    /* .logo-size{
      display: block !important;
   } */
#social-footer{
  background-color: white;
 
}
    /* media for phone  */
    


 
/* end of first css style fz site  */

/* media query  */
@media (min-width: 576px) and (max-width: 613px){ 
    li a{
        font-size: 0.8rem;
    }
 }


/* @media (min-width: 576x) and (max-width: 648px) not working */
@media (min-width: 614px) and (max-width: 648px){ 
    li a{
        font-size: 0.9rem;
    }

 }

 @media (max-width: 695px){
     .header{
         font-size: 50px;
     }
 }
 @media (max-width: 575px){
    .header3{
        display: none;
    }
    .header4{
        display:block;
        color: white;
        padding-left: 50px;
    }
 }
 @media (max-width: 370px){
  .header3,.header4{
    display: none;
  }
  .header5{
    display: block;
  }
 }
 /* @media (min-width: 575px){
     .img-adj{
         width: 60% !important;
     }
 } */

 @media (min-width: 899px){
     .logo-size{
         display: inline-block !important;
         font-size: 16px;
         color: black;
         padding-top: 14px;
     }
 }

 @media (min-width: 840px) and (max-width: 898px){
     .logo-size{
        display: inline-block !important;
         font-size: 14px;
         color: black;
         padding-top: 12px;
     }
 }
 @media (max-width: 854px){
    .logo-size{
        display: none !important;
        color: black;
     }
     p{
       font-size: 18px;
     }
 }
 @media (max-width: 932px){
    #social-top{
      display:none;
    }
 }
 /* @media (min-width: 768px)and (max-width: 1079){
  #bio img{
    width: 480px !important;
  }
 } */
 @media (min-width: 1080px) {

  #bio img{
    width: 583px;
  }
 }
 